body {
    background-color: #67ca3d;

}

h1 {
    
    font-size: 1.7rem;
    font-weight: 700;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Open-sans';
    letter-spacing: 1px;
    margin-bottom: 20px;
    
    animation: text 1.5s 1;
}
